


.setup_box {min-height: 30px;align-items: flex-end;margin-top:2px;position: relative;box-sizing: border-box}
.trailab {margin-top: 0px;padding-right: 5px; background: darkgray; text-align: center;height: 30px;padding: 5px;color:white}
.setup_top {min-height: 30px;align-items: flex-start;margin-top:2px;position: relative;box-sizing: border-box;}



.setup_box .form-group{
  margin-bottom: 0px;
}
.setup_box .form-control{
  border-radius: 0px;
  height: 30px;
}
.setup_60{
height: 50px;
}

.radio_search .btn{
height: 22px;
padding-top: 0px;
padding-left: 7px;
padding-right: 7px;
}
.box_deep{
box-shadow: inset 0 1px 2px gray;
margin-left: -5px;
padding-left: 15px;
padding-top: 10px;
background: white
}

.ashow:before {
content: '-'
}


.box_title{
height: 26px;
box-shadow: 0px 1px 2px gray;
margin-top: -10px;
margin-left: -10px;
margin-right: -10px;
font-weight: bold;
background:#ecececff
}



.radio_search .btn.active{
background: #748cccff;
color: white
}
.radio-btn-green .btn.active{
background: #7bcc7dff;
color: white
}



.box_title .btn{
width: 20px;
}
.box_title .btn,.box_title .btn i {
margin: 0px;
margin-top:0px;
box-sizing: content-box;
border:0px solid;
padding: 3px;
height: 20px;
font-size:8px;
border-radius: 0px;
color: white;
}

.box_title a ,.box_title i{
color: #a6a6a6ff;
}


.show_hide{
padding: 5px;
font-size: 11px;font-style: italic; position: absolute; top: 0px; right: 0px
}





.tip_panel .tippy-tooltip.material-theme {
font-size: 12px;
color: black;
font-weight: 100;
width: 500px
}


.ghost_box{
background: GhostWhite; border: 1px solid #dfdfe6;
}

.color_box {
background: GhostWhite;
border: 1px solid #ebebfa;
margin: 0px;
border-radius: 1px
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
padding: 2px;font-size: 11px
}


.radiotab .btn-default.active {
 background: Grey;
box-shadow: inset 0 1px 2px #333;
color: white
}
.radiotab .btn {
margin: 0px;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}

.dataTables_length{
font-size: 11px;
}
.dataTables_wrapper .dataTables_length select{
border-radius: 1px;
font-size: 11px;
}
div.dt-buttons {
width: 150px
}
div.dt-buttons>.dt-button, div.dt-buttons>div.dt-button-split .dt-button {
font-size: 11px;
margin: 0px;
padding: 2px
}
.picker-flex {}

.picker-flex .shiny-input-container{
width: calc(100%) !important;
max-width: 300px !important;

min-width: 150px;

}






.setup_box .control-label{margin: 0px}
.setup_box .shiny-input-container label{
font-weight:bold
}



@keyframes change_anim3 {
50% {color:#0093fcff ;}

}
.save_changes2 {

animation: change_anim3 600ms infinite;

}
 .normal-checkbox{
  padding-bottom: 10px;
 }
.normal-checkbox .shiny-options-group{
 margin: 0px;
 padding: 0px;
 padding-left: 20px;


 }
.normal-checkbox .shiny-input-container {
min-width: 100% !important;
display: inline-block;

 }
.radio_search .form-group {
 align-items: start;
 height: 100% !important;
 }
.nav_caret {
margin-top: 10px;
}
.nav_caret .tabbable > .nav {
background:#ecececff;

color: black

}

.nav_caret  .nav-tabs>li a{
padding-left: 5px;
padding-right: 5px;
padding-top:3px;
font-size: 12px;
}
.nav_caret .tabbable > .nav > li[class=active]> a {
box-shadow: inset 0 1px 2px #333;
 border-bottom: 0px solid SeaGreen;
 background: Grey;
 font-weight: normal;
color: white
}
.nav_caret .tabbable > .nav > li > a:hover{
background: lightgray
}
.nav_caret .nav-tabs li,.nav_caret .nav-tabs a {
padding: 0px;
margin: 0px;
height: 25px
}

.nav_caret .tabbable > .nav > li  {
margin: 0px;
padding: 0px
}
.nav_caret .nav_caret .tabbable > .nav a{
color:#333;

}

.icon-box{background: ",color,";width: 26px;height: 22px; position: absolute; top: 0px; left: 0px;box-sizing: content-box;padding-top: 5px}

.icon-gray {
background: lightgray}

.tip_html150 .tooltip-inner{
width: 300px;
min-width: 300px;
}
.tip_html150 .title{
color: white;
font-weight: bold
}
.tip_html150 .topic{
background: white;
color: black
}

.best:hover:after{
content: 'x'}

.hei300{
height: 300px;
overflow: auto;
padding-top: 5px
}
.hei300 pre{
  font-size: 11px;
}

.radio_yellow .btn.active{
background: DarkGoldenRod;
color: white
}

.check_title .form-group{
margin: 0px;padding: 0px;
height: 20px
 }

 .swib {
padding: 2px;
font-size: 11px;
}
.on:after {
color: Seagreen;
content: 'on'
}

.off:after {
color: red;
content: 'off'
}




.bank_attr i {
  color:#333;
}
.ptop0{
padding-top: 0px
}
.half-drop-inline .dataTables_wrapper .dataTables_paginate {
 float: left;
 text-align: left;
 padding-top: .25em;
}
.p20 .input-group .btn,.p20 .input-group .form-control{
height: 60px
}
.form-group {margin-bottom: 5px}
.navmap2  .navbar>.container-fluid .navbar-brand{border: 0px solid red; height: 100% !important}
.rfexpainer .col-sm-1,
 .rfexpainer .col-sm-2,
 .rfexpainer .col-sm-3,
 .rfexpainer .col-sm-4,
 .rfexpainer .col-sm-5,
 .rfexpainer .col-sm-6,
 .rfexpainer .col-sm-7,
 .rfexpainer .col-sm-8,
 .rfexpainer .col-sm-9,
 .rfexpainer .col-sm-10,
 .rfexpainer .col-sm-11,
 .rfexpainer .col-sm-12 {
 margin: 0px;padding: 0px
 }


.radio-btn-green .btn.active{
background: #7bcc7dff;
color: white
}


.checktitle .form-group {max-height: 10px;padding: 0px;margin: 0px}

.picker-before-x:before{
 border: 1px solid red
 padding-right: 5px; background: darkgray; text-align: center;height: 30px;padding: 5px;color:white;content:'X';margin-top: 20px;
 position: flex;box-sizing: border-box;border-top: 1px solid #ccc;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;
 }
 .picker-before-y:before{
 border: 1px solid red
 padding-right: 5px; background: darkgray; text-align: center;height: 30px;padding: 5px;color:white;content:'Y';margin-top: 20px;
 position: flex;box-sizing: border-box;border-top: 1px solid #ccc;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;
 }
 .picker-before-x {
display: flex;

padding: 0px;

 }
 .picker-before-y {
display: flex;

padding: 0px;

 }


.selectize-control.single .selectize-input:not(.no-arrow):after{
  right: 4px;
}
.spatial_tools,.spatial_tools .form-control,
.spatial_tools .btn {
 font-size: 13px;
}

.zoom_leaflet .modal-footer{
  padding: 0px;
}


.train_button .btn{
border-radius: 4px;
border: 0px;
 box-shadow: 0px 1px 3px 0px black  ;
box-sizing: border-box;
background:  #05668D; color: white; margin: 0px; font-size: 16px; position: absolute;right: 0px; margin-top: 8px;z-index: 999
}
.spatial_tools .spatial_setup .train_box {

}
.model_setup .train_box{
background:  #e6e6e6;
box-shadow: 0 1px 3px #748cccff;
}
.train_box i {
border-radius: 50%;
color: #a6a6a6ff;
}
.train_box{
background: #f9f9f9ff;
margin-left: 0px;
margin-right: 5px;
box-shadow: 0 1px 3px gray;
border-bottom-right-radius: 10px;
padding: 10px;
margin-bottom: 5px;
box-sizing: border-box;
position: relative;
}
.shp_box .train_box label{
color: #05668D;
font-weight: bold
}
.train_box .shiny-input-container label{
font-weight: normal;
color: #2F4F4F
}


.inline_pickers .dropdown .btn-default{
  background:white;
  border: 0px;
}
.inline_pickers .dropdown .btn{
  padding: 0px;
}
.inline_pickers .form-control, .inline_pickers .selectize-input,.inline_pickers .dropdown .btn,.inline_pickers .shiny-input-container,.inline_pickers .form-group,.inline_pickers .selectize-control.multi .selectize-input.has-items {
min-height: 25px;

padding: 1px;
padding-left: 3px;
border-radius: 0px
}
.inline_pickers label{
  color: #05668D;;
}
.half-drop-inline .shiny-input-container>label,.inline_pickers .shiny-input-container>label {
color: #05668D;
margin-right:10px;
white-space: nowrap;
}

.inline_pickers .shiny-input-select>div>div {
margin: 0px;padding 0px;
}
.setup_box .selectize-input,.setup_box .btn {min-height: 30px;max-height: 30px;height-height: 30px;border-radius: 0px;padding-top: 4px}

.inline_pickers .form-control{
  height: 25px;

}
.inline_pickers .form-group{
  margin: 3px;

}
.inline_pickers  .checkbox, .inline_pickers  .radio {
margin-top: 3px;
 margin-bottom: 3px;
}

.inline_pickers .form-group{
display:flex;

align-items:center;
margin:2px;
margin-left:0px;
padding-right:5px
}
.inline_pickers .shiny-input-container>div {
width:100%;
}
.som_grid{
width: 100%;
display: flex;flex-flow: row wrap;gap: 2px;margin-bottom: 15px
}
.som_grid .form-control{
width: fit-content
}
.som_grid :not(.input-group)>.bootstrap-select.form-control:not([class*=col-]) {
 width: fit-content
}
.som_grid .bootstrap-select:not(.input-group-btn){
display: block
}
.som_grid .bootstrap-select>.dropdown-toggle  {
width: fit-content
}
.som_grid .shiny-input-container{
margin: 0px;
padding: 0px;
width: fit-content
}
.som_grid input{
max-width: 70px;

}
.switch_box {
margin: 0px;
padding: 0px;
}



.checktitle .shiny-input-container{
background: transparent;

padding-left: 10px
}

.checktitle .checkbox input[type=checkbox] {
margin-left: -22px;
}
.checktitle .checkbox span {
mdargin-left: -15px;
}


.switch_box .shiny-input-container:not(.shiny-input-container-inline) {
margin: 0px;
padding: 0px;
max-width: 180px;
}
.train_box{
margin-left: 1px;
}
.checktitle .form-group {
margin: 0px;
margin-left: -30px;
width: fit-content;
min-width: fit-content;

}
.checktitle .form-group label{
 width: fit-content;
min-width: fit-content
}
.btn-title2 {
margin-left: 10px
}

.box_title .btn-title2 .btn, .btn-title2  i {
margin-top: -6px;
 width: fit-content;
font-size: 13px;
color: #337ab7;
  padding-left: 10px;
padding-right: 10px;
height: 20px;
}
.box_title .btn,.box_title .btn i {
margin: 0px;
margin-top:0px;
box-sizing: content-box;
border:0px solid;
padding: 3px;
height: 20px;
font-size:8px;
border-radius: 0px;
color: white;
}

.navmap2 .navbar{
width: fit-content
}
.navmap2 .container-fluid {
margin-left: -130px;
width: 120vh
}

.navmap2 .navbar, .navmap2  .navbar li,.navmap2  .navbar li a,.navmap2 ul {
height: 26px;
min-height: 26px;
max-height: 26px;

}
.rank_grid .shiny-input-container{
margin: 0px;
padding: 0px
}
.rank_grid .rank-list-item{
border: 1px dashed gray;
height: 20px
margin: 0px;
padding: 0px
}

.stack_order .default-sortable div,.stack_order .rank-list-container{
margin: 0px; padding: 0px;
font-size:12px;
height:24px
}
.sptools_plot{
  overflow: scroll;
height: calc(100vh - 260px);
;width: 50vw;
}

.picker13 label{
  font-size: 13px
}
.picker13 .btn{
font-size: 12px;
max-width: 200px
}
.picker13 .vscomp-wrapper {
font-size: 12px
}
.picker13 .vscomp-toggle-button{

min-width: 200px;
max-width: 200px
}
.picker150 .picker13 .vscomp-toggle-button{

min-width: 150px;
max-width: 150px
}
.picker13 .vscomp-dropbox{

width: fit-content
}
 .small_check .checkbox{
margin-top: 0px;
margin-bottom: 0px
 }
  .small_check input[type=checkbox]{

  margin: 0px;
  margin-left: -15px
}
.small_check label {
font-size: 10px
}

.picker13 .picker_fit label{
font-size: 12px
}
.picker13 .picker_fit .vscomp-toggle-button {
min-width: fit-content;
max-width: 200px;
height: 24px
}
 .bs-searchbox .form-control{
border-radius:0px;
height: 24px;
padding: 3px

}
.open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus{
background: #ffffe6
}
 .bank_attr .btn, .bank_attr i{
color: #333
}
.picker25 .bootstrap-select>.dropdown-toggle,.picker25 .form-control, .half-drop-inline .picker25 .form-group {
height: 20px;
padding:2px
margin: 0px
}
.picker25 .form-control {
margin-bottom: 5px
}
.dataTables_wrapper .dataTables_filter input {
border: 1px solid #aaa;
border-radius: 0px;
padding: 2px;
background-color: transparent;
color: inherit;
margin-left: 1px;
height: 25px;
}
.tip-80 .tooltip-inner {
 position: absolute;
 top: 3px;
 left: 0px;
 min-width: 150px
}

.label_none label{display: none}

.picker_table .btn {
font-size: 14px;
text-align: left;
box-sizing: border-box;
display: flex;
flex-wrap: wrap;
padding: 0 15px;
height: 24px;
}

.picker_table .dropdown-menu .open {

}
.picker_table .form-group{
margin: 0px
}
.picker_table{
margin-top: 35px;

}
.picker_loop .vscomp-option {
border-bottom: 1px solid
}
.picker_fake{
padding: 0 15px;
height: 24px;
border-bottom: 1px solid;
  font-size: 14px;
box-sizing: border-box;
}

.picker_loop .form-control {
#max-height: 24px;
border-radius: 0px;
}

.picker_loop .vscomp-options-container{
max-height: 100% !important

}

.choices_tip{
width: 100%;


position: relative
}
.data_x ul {
  position: absolute;


}
.choices_tip_show{
display: none
}
.dropdown-menu>.active>a .picker_tip{
display: block;
color: yellow
}
.picker_tip{
z-index: 99999;
padding-left: 10px;
font-size: 11px;
color: SeaGreen;
font-style: italic;

}

.data_x .filter-option-inner-inner .picker_tip{
display: none
}
.data_x .open>.dropdown-menu {
max-height: 300px;
min-width: 200px}
.data_x span.text{
width: 100%
}

.popover-title {

padding: 0px;
padding-left: 15px;
margin: 0;
font-size: 13px;
cursor: default;
}
.popover-title label {
cursor: default

}
.popover-title a{
font-weight: normal;
font-style: italic
}
.popover-title input[type=checkbox]{
cursor: pointer
}
.button.close{
display: none;
cursor: none
}
.setup_box .dropdown-menu .open{
max-height: 350px;
overflow-y: auto;

}

.model_subtext{
color: darkgreen; font-size: 11px
}
.model_tag{
color: gray; font-size: 10px; font-style: italic;

}
.dropdown-menu>.active>a >i{
color: white
}
 .dropdown-menu>.active>a .model_subtext{
color: WhiteSmoke
 }
 .dropdown-menu>.active>a .model_ico i {color:lightgray}
.model_ico i {color:#05668D}

.dropdown-menu>.active>a .model_tag{

color: yellow
}
.train_button .btn{
border-radius: 4px;
border: 0px;
 box-shadow: 0px 1px 3px 0px black  ;
box-sizing: border-box;
background:  #05668D; color: white; margin: 0px; font-size: 16px; position: absolute;right: 0px; margin-top: 8px;z-index: 999
}

.picker-tip .text-muted{color: SeaGreen; font-style: italic}
.virtual12 .vscomp-dropbox{font-size: 11px}

.virtual12 .vscomp-wrapper,  .virtual12 .vscomp-search-input {
font-size: 11px
}

.small_radio .btn{
padding-left: 7px;
 padding-right: 7px;
font-size: 12px
}
 .radiobox_title{
 display: flex;

 margin-left: 5px;
 margin-right: 5px
 }
  .box_comp_results .box_title{
 display: flex;
  }

  .box_comp_results .radio12 .btn{
 color: #333;
 font-size: 12px;

 }
#disable_tool > li:nth-child(-n+9) {
 pointer-events: none;
 }
.disabled_toolbar .navbar-default{
 background: none

}
#main_panel > div > div.preproc > div.needed.toolbar.preproc_page.tool_toggle.disabled_toolbar > nav  {
background: transparent !important;
border: 0px
}
.disabled_toolbar .tooltip-inner {
background: none;
border: 0px;
color: gray;
font-style: italic;
background: #9c9c9c40;
max-width: 280px;
text-align: center
}
.disabled_toolbar .tooltip-inner i {
color: #a17f1a;
padding-right: 5px;
font-size: 14px

}


#main_panel > div > div.preproc > div.needed.toolbar.preproc_page.tool_toggle.disabled_toolbar > nav > div > div {
min-height:70px;

}


.dt_small td.dt-right {
width: 100% !important
}
.dt_small .dataTables_scroll,.dt_small .dataTables_wrapper {
text-align: right;
width: min-content;
}
.icon_summary{
    padding-left: 5px;
 padding-right: 10px;
 padding-top: 10px;
    box-sizing: content-box;
    border: 0px solid;
    border-radius: 0px;

    font-size: 10px;
    color: #696969;
 display: flex;
align-items: flex-end;
 gap: 3px
    }
.text_summary{
color:RoyalBlue
}


.checktitle2{
margin:0px;
padding: 0px
}
.checktitle2 .shiny-input-container{
background: transparent;

padding: 2px;
padding-left: 10px;
height: 10px;
margin-top: -1px
}


.checktitle2 .checkbox input[type=checkbox] {
margin-left: -27px;
padding: 2px;
}
.checktitle2 .checkbox span {
margin-left: -5px;

}

